/*Задала цвет фона блока, определила
его ширину, задала размер внутренних
отступов блока*/
div {
	background: #d6d7be;
	padding: 5px 0 35px 5px;
	width: 500px;
}

/*Задала элементу "h1" семейство шрифтов
без засечек, цвет текста*/
h1 {
	font-family: Arial, sans-serif;
	color: #532601;
}

/*Задала элементу "h3" цвет текста*/
h3 {
	color: #875327;
}

/*Задала элементу "a" цвет текста (ссылки)*/
a {
	color: #285501;
}